@import "../app/scss/variables.scss";

$border-active-width: 3px;
$sidebar-width-submenu: 260px;

.sidebar {
  bottom: 0;
  top: 0;
  width: $sidebar-width-opened;
  z-index: 2;
  background: $white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: $topbar-height;

  .sidebar-wrp {
    .sidebar-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      bottom: 0;
      height: $footer-height;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      font-size: .7rem;

      .btn-sidebartoggle {

        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        width: 100%;
        line-height: $footer-height;
        outline: none;
      }
    }

    .sidebar-menu {
      padding-bottom: $gutter;
      padding-top: $gutter;
      width: 100%;

      > ul {
        border: 0;
        font-weight: normal;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;

        // First section elements
        & > li {

          // The small section title
          &.menu-title {
            padding: 0 $gutter $gutter $gutter;
            letter-spacing: .035em;
            pointer-events: none;
            cursor: default;
            font-size: 13px;
          }

          // Link of the fist element
          > a {
            cursor: pointer;
            color: $dark;
            display: block;
            padding: ($gutter / 3 * 2) $gutter;
            margin: 0;
            border-left: $border-active-width solid $white;

            &:hover {
              color: $custom;
              text-decoration: none;
            }

            // The link icon
            i {
              display: inline-block;
              font-size: 16px;
              line-height: 17px;
              margin-left: 0;
              margin-right: $gutter;
              text-align: center;
              vertical-align: middle;
              width: $gutter;
            }

            // The link text
            span {
              vertical-align: middle;
            }

            // Arrow indicating the submenu items
            b {
              font-weight: normal;
              -webkit-transition: -webkit-transform .15s;
              -o-transition: -o-transform .15s;
              transition: transform .15s;
              position: absolute;
              right: 20px;
              display: inline-block;
              font-family: 'Material Design Iconic Font';
              text-rendering: auto;
              line-height: 24px;
              font-size: 16px;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              -webkit-transform: translate(0, 0);
              -ms-transform: translate(0, 0);
              -o-transform: translate(0, 0);
              transform: translate(0, 0);
              color: $muted;

              &:before {
                content: "\f1b6";
              }
            }
          }

          // First section is active
          &.active > a {
            background: #f4f8fb !important;
            border-left: $border-active-width solid #5fbeaa;
            color: #5fbeaa !important;
          }

          // Submene
          > div {
            //display: none;

            a {
              color: #75798B;
              display: block;
              padding: 10px $gutter 10px ($gutter * 3 + $border-active-width);
              font-size: 0.90em;

              &:hover {
                color: $custom;
              }

              &.router-link-exact-active {
                color: $custom;
              }
            }
          }
        }
      }
    }
  }
}


body.sidebar-closed {

  .sidebar {
    width: $sidebar-width-closed;

    .sidebar-wrp {

      .sidebar-footer {
        overflow: hidden;
        white-space: nowrap;

        .btn-sidebartoggle i:before {
          content: "\56" !important;
        }
      }

      .sidebar-menu {

        > ul {

          // First section elements
          & > li {
            position: relative;
            white-space: nowrap;
            margin-bottom: 3px;


            // The small section title
            &.menu-title {
               display: none;
            }

            // Link of the fist element
            > a {
              padding: 15px 20px;
              min-height: 52px;
              border-left: $border-active-width solid #fff;

              i {
                margin-right: $gutter;
                font-size:  1.3em;
                display: inline-block;
                line-height: 1em;
                //margin-left: $border-active-width;
                vertical-align: middle;
                width: 1em;
              }

              span, b {
                display: none;
              }
            }

            // First section is active
            &.active > a {
              border-left: $border-active-width solid #5fbeaa;
            }

            // Submenu
            & > div {

              display: none;

              a {

                &:hover {

                }

                &.router-link-exact-active {

                }
              }
            }

            &:hover {

              background-color: #f4f8fb;
              width: $sidebar-width-submenu;


              > a {
                border-left: $border-active-width solid #5fbeaa;

                i {
                   margin-left: 0px;
                }
                span {
                  display: inline-block;
                   padding-left: 10px;
                }
              }

              & > div {
                background-color: #fff;
                position: absolute;
                display: block;
                left: $sidebar-width-closed;
                width: $sidebar-width-submenu - $sidebar-width-closed - 1px;
                margin-left: 1px;
                a {
                  padding: $gutter;
                }
              }
            }
          }
        }
      }
    }
  }
}

