/* =============
   Common
============= */

body {
  background: $light5;
  margin: 0;
  overflow-x: hidden;
  color: #797979;
}

html {
  position: relative;
  min-height: 100%;
  background: $light5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #505458;
  margin: 10px 0;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
  small {
    color: $lightdark4;
  }
}

h4 {
  line-height: 22px;
  small {
    color: $lightdark4;
  }
}

h5 {
  font-size: 15px;
  small {
    color: $lightdark4;
  }
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}

* {
  outline: none !important;
}

b {
  font-weight: 600;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page {
  padding: $gutter;
}

/* Content */

.content-page {
  margin-left: $sidebar-width-opened;
  overflow: hidden;

  &>.content {
    padding-bottom: $footer-height;
    padding-top: $topbar-height;
    //padding: 20px 5px 15px 5px;
  }
}

body.sidebar-closed {
  .content-page {
    margin-left: $sidebar-width-closed;
  }
}

/* Footer */

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  color: #58666e;
  text-align: left;
  padding: $gutter;
  position: absolute;
  right: 0;
  left: $sidebar-width-opened;
  font-size: .7rem;
}

body.sidebar-closed {
  .footer {
    left: $sidebar-width-closed;
  }
}

