// C:\private\projects\eConduct\UiBase\node_modules\bootstrap\scss\_variables.scss
@import "../../../../node_modules/bootstrap/scss/_variables.scss";

$custom: #5fbeaa;
// Color variables
$white: #ffffff;
$danger: #f05050;
$success: #81c868;
$warning: #ffbd4a;
$primary: #5d9cec;
$lightdark5: #555555;
$info: #34d3eb;
$purple: #7266ba;
$pink: #fb6d9d;
$inverse: #4c5667;
$muted: #98a6ad;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #ebeff2;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;
$lightdark: #f4f8fb;
$lightgray: #7a8c9a;
$dark: #36404a;

$width: 100%;
$height: 100%;



$gutter: $grid-gutter-width-base / 2;

$topbar-height: 60px;
$sidebar-width-opened: 240px;
$sidebar-width-closed: 70px;

$footer-height: 50px;
